<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <label style="color: red"><%= message %></label>
</div>
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" value="jiangjiang@fengzexin.com"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" value="m6i1m2a3"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
</body>
</html>